/*
======================================
; Title: book-list.component.css
; Author: Chris Gorham
; Date: 21 June 2023
; Description: This code supports functionality for the In-N-Out Books Project (Part 3)
; Sources Used:
; Assignment 5.4 Instructions
;=====================================
*/

.a-link {
  text-decoration: none;
  /* changed this to royal blue to be a little easier on the eyes */
  color: royalblue;
}

.a-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* added this in to make the table look a little neater */
.header-center {
  text-align: center;
}
