/*
======================================
; Title: about.component.css
; Author: Chris Gorham
; Date: 21 June 2023
; Description: This code supports functionality for the In-N-Out Books Project (Part 3)
; Sources Used:
; Assignment 5.4 Instructions
;=====================================
*/

.bio-title {
  color: #2196F3;
}

a {
  color: #2196F3;
}

.bio {
  text-align: left;
}
