<!--
======================================
; Title: sign-in.component.html
; Author: Chris Gorham
; Date: 03 July 2023
; Description: This code supports functionality for the GPA Calculator App (Part 3)
; Sources Used:
; Exercise 7.2 Instructions
=====================================
-->

<div fxLayout="column">

  <div fxFlex>
    <mat-card class="mat-elevation-z8 signin-container">

      <mat-card-tile>Student Sign In</mat-card-tile>
      <mat-card-subtitle>You must enter a valid Student ID to proceed.</mat-card-subtitle>
      <mat-card-content>
        <div class="msg-error" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">

          <!--references the form group from the sign-in.component.ts file and the onSubmit function to be called when the user hits submit-->
          <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); signinForm.reset()">
            <mat-card-content>
              <mat-form-field fxFlex appearance="fill">
                <mat-label for="txtStudentId" id="lblStudentId">Student Id</mat-label>
                <!--formControlName tells angular to look at the studentId variable from the sign-in.component.ts and this helps map the values-->
                <input type="text" matInput formControlName="studentId" id="txtStudentId" name="txtStudentId">
              </mat-form-field>
            </mat-card-content>

            <mat-card-actions>
              <button type="submit" fxFlex mat-raised-button color="primary">Submit</button>
            </mat-card-actions>
          </form>

        </mat-card>


      </mat-card-content>

    </mat-card>
  </div>


</div>
