<div class="row">


  <div class="col-sm-4"><br><br>
    <figure>
      <img class="composer-bg" src="./assets/mozart.png" width="50%">
      <figcaption>Source: <a href="https://pixabay.com/illustrations/illustration-wolfgang-amadeus-mozart-4884183/" target="resource window">Pixabay</a></figcaption>
    </figure>

  </div>

  <div class="col-sm-8"><br><br>
    <p class="composer-bg composer-font">
      Wolfgang Amadeus Mozart (27 January 1756 – 5 December 1791) was one of the most influential, popular, and prolific composers of the classical period. A child prodigy born in a musical family in Salzburg, Austria, he began composing at an early age over 600 works, including some of the most famous pieces of symphonic, chamber, operatic, and choral music. His most well-known pieces include Serenade No. 13 “Eine kleine Nachtmusik”, Symphony No. 41 “Jupiter”, Clarinet Concerto, The Magic Flute, and Requiem. Mozart died at the young age of 35 from a medical issue.
    </p>
  </div>


</div>

