/*
======================================
; Title: book-list.component.css
; Author: Chris Gorham
; Date: 21 June 2023
; Description: This code supports functionality for the In-N-Out Books Project (Part 2)
; Sources Used:
; Exercise 5.3 Instructions
;=====================================
*/

.a-link {
  text-decoration: none;
  color: blue;
}

.a-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
