<!--
======================================
; Title: about.component.html
; Author: Chris Gorham
; Date: 11 July 2023
; Description: This code is for the html portions of the about component for the Loan App project
; Sources Used:
; WEB425 Capstone Instructions
=====================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/ceo.png" width="50%"><br>
        <em class="font-white">
          Rusty Malfoy, owner and CEO of Loan_App
        </em>
      </div>
      <div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="loan-title">All About Loan App</h1>
    <p class="history">
      Loan App has been in the loan industry since 1929 when its founder, Theodore Malfoy began a small business in the Wizard village of Hogsmeade. After decades of excellent customer service, prompt payments, and a track record of success, the company was brought online by Theodore's grandson, Ted Malfoy.<br><br>

      The company was sold during the dot com bubble in 1999 to Yahoo! for $1.2 million dollars and it enjoyed moderate success under the Yahoo! umbrella.<br><br>

      The Malfoy family, eager to reclaim the family company, traded a number of Slytherin heirlooms to Yahoo! in 2005 for the ownership rights.  The rights sat dormant for years as the Malfoy family was involved in other business ventures, mostly relating to Wizard stuff. In 2023, Ted Malfoy named his son Rusty the new owner and CEO of Loan_App.<br><br>

      Rusty had just completed the Web Development program at Bellevue University and was eager to start developing an application that would make his family proud.  When choosing how to implement the app, Rusty evaluated many different languages and frameworks, eventually settling on Angular for the relaunch of Loan_App.<br><br>

      Today, Loan_App services customers by providing a  monthly payment and interest paid for a loan based on the user inputs.<br><br>

      Whether you're looking to refinance a car, purchase a home, or take out a personal loan to start your own Quidditch team, Loan_App has the resources to help you plan your finances.<br><br>

      A personal message from the CEO, Rusty Malfoy:<br><br>
      <i>
        "You'll soon find out that some loan apps are better than others, Potter."
      </i><br><br>

    </p>
  </div>
</div>
