<!--
======================================
; Title: home.component.html
; Author: Chris Gorham
; Date: 27 June 2023
; Description: This code supports functionality for the GPA Calculator App (Part 2)
; Sources Used:
; Assignment 6.4 Instructions
=====================================
-->

<div fxLayout="row wrap" fxLayoutGap="20px">

  <!--Grade Entry-->
  <div class="grade-form" fxFlex>
    <mat-card class="grey">
      <mat-card-title class="white">Grade Entry</mat-card-title>
      <mat-card-content>
        <form fxLayout="column" fxLayoutGap="16px">
          <mat-form-field fxFlex appearance="fill">
            <mat-label class="white">Course</mat-label>
            <input type="text" name="txtCourse" id="txtCourse" matInput [(ngModel)]="transcriptEntry.course">
          </mat-form-field>

          <mat-form-field fxFlex appearance="fill">
            <mat-label>Grade</mat-label>
            <mat-select [(ngModel)]="transcriptEntry.grade" name="selectGrade">
              <mat-option *ngFor="let grade of selectableGrades" [value]="grade">{{ grade }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!--when clicked this calls the saveEntry() function and adds the entry to transcript portion-->
          <button mat-raised-button class="grey white" (click)="saveEntry()">Save</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!--Grade Summary-->
  <div fxFlex class="grade-summary">
    <!--This button clears all transcript entries by calling the clearEntries() function-->
    <button mat-button color="primary" (click)="clearEntries()">Clear Transcript</button>
    <mat-card>
      <mat-card-title>Transcript</mat-card-title>
      <mat-card-content>
        <!--Iterates over the transcript entries to have them added to the card-->
        <app-grade-summary *ngFor="let entry of transcriptEntries" [course]="entry.course" [grade]="entry.grade"></app-grade-summary>
      </mat-card-content>
    </mat-card>


  </div>
</div>

<br><br>

<!--GPA-->
<div fxLayout="column" fxLayoutGap="20px">

  <div fxFlex class="gpa">
    <!--Clicking this calculates the GPA results by calling the calculateResults() function-->
    <button mat-button color="primary" (click)="calculateResults()">Calculate GPA</button>

    <mat-card>
      <mat-card-title>
        GPA: <app-gpa [gpaTotal]="gpaTotal"></app-gpa>
      </mat-card-title>
    </mat-card>

  </div>

</div>
