<!--
======================================
; Title: about.component.html
; Author: Chris Gorham
; Date: 26 June 2023
; Description: This code is for the html portions of the about component for the In-N-Out Books project
; Sources Used:
; Exercise 6.2 Instructions
=====================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/book.png" />
      </div>
      <div>
        <em>
          Photo by Tom Palumbo on <a class="attribution-link" href="https://en.wikipedia.org/wiki/Jack_Kerouac#/media/File:Kerouac_by_Palumbo_2_(cropped).png" target="_blank">Wikipedia</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">All About Jack Kerouac</h1>
    <p class="bio">
      Jack Kerouac (1922-1969) was an influential American novelist and poet, known for his role in the Beat Generation. Born in Lowell, Massachusetts, Kerouac's most renowned work is "On the Road" (1957), a novel that captured the spirit of rebellion and wanderlust. His spontaneous prose style and exploration of countercultural themes inspired generations. Kerouac battled personal demons, including alcoholism, and died at age 47. His literary legacy continues to inspire and challenge readers today.
    </p>
  </div>
</div>
