<!--
======================================
; Title: not-found.component.html
; Author: Chris Gorham
; Date: 26 June 2023
; Description: This code supports functionality for the GPA Calculator App (Part 1)
; Sources Used:
; Exercise 6.3 Instructions
=====================================
-->



<div fxLayout="column"><br><br><br>
  <h2 class="error">404 Error</h2><br>
<img class="image" src="./assets/bono.png"><br><br>
<h3 class="not-found">Much like Bono, you still haven't found what you're looking for.</h3><br>
<h2 class="not-found"><button mat-raised-button color="accent" routerLink="/">Return home</button></h2>

</div>
