<!--
======================================
; Title: app.component.html
; Author: Chris Gorham
; Date: 30 May 2023
; Description: This code is for the html portions of the composer app project
; Sources Used:
; Exercise 2.4 Instructions
; Angular CLI Hello World YouTube Video (https://youtu.be/XRm0SnUJROU)
=====================================
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/composer-list">Composer List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
  </ul>
</nav>

<div class="main" class="container">

  <router-outlet></router-outlet>

</div>
