/*
======================================
; Title: about.component.css
; Author: Chris Gorham
; Date: 21 June 2023
; Description: This code supports functionality for the In-N-Out Books Project (Part 1)
; Sources Used:
; Exercise 5.2 Instructions
;=====================================
*/

.bio-title {
  color: yellow
}

a {
  color: red;
}

.bio {
  text-align: left;
}
